{{ $ := .root }}
{{ $page := .page }}

<!-- Dates widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ with $page.Content }}{{ . }}{{ end }}

    {{ if $page.Params.due_date }}
    {{ range $idx, $key := sort $page.Params.due_date ".date_start" "asc" }}
      <div class="card experience course">
        <div class="card-body">
          <h4 class="card-title exp-title text-muted my-0">{{.title | markdownify | emojify }}</h4>

          <div class="card-subtitle my-0 article-metadata">

            {{ (time .date_start).Format ($page.Params.date_format | default "Jan 2, 2006") }}
            {{ if .date_end }}
              - {{ (time .date_end).Format ($page.Params.date_format | default "Jan 2, 2006") }}
            {{end}}
          </div>
        </div>
      </div>
    {{end}}
    {{end}}
  </div>
</div>
